<!--version de html-->
<!DOCTYPE html>
<!--inicio y configuracin de idioma-->
<html lang="en">
<!--cabecera-pagina-->
<head>
    <!--configuracion de caracteres-->
    <meta charset="UTF-8">
    <!--pagina responsivo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--titulo de la pagina-->
    <title>Mercado Liebre</title>
</head>
<!--cierre-cabecera-->
<!--body-->
<body>
    <!--cabecera-body-->
     <header>
        <img src="/images/logo-mercado-liebre.svg" alt="imagen_de_mercado_liebre">
        <div>
            <form >
                <input type="text">
                <input type="button" value="boton">
            </form>
        </div>
        <div>
            <P>Comprá en cuotas y sin tarjeta de crédito</P>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <!--secciones-body-->
     <main>
        <section>
            <h2>Basado en tu última visita</h2>
             <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <p>$6.770<br>40% OFF<br><strong>Cafetera Moulinex</strong></p>
            </article>
             <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <p>$230.000 <br>20% off <br><strong>MacBook Pro 2019</strong></p>
            </article>
             <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                <p>$70.500 <br>
                10% off <br>
                <strong>Samsung Galaxy S10</strong></p>
            </article>
             <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                <p>$23.200 <br>
                5% off <br>
                <strong>SmartTv Samsung 43"</strong></p>
            </article>
        </section>
        <section>
            <h2>Ofertas</h2>
             <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <p>$6.770<br>40% OFF<br><strong>Cafetera Moulinex</strong></p>
            </article>
             <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <p>$230.000 <br>20% off <br><strong>MacBook Pro 2019</strong></p>
            </article>
             <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                <p>$70.500 <br>
                10% off <br>
                <strong>Samsung Galaxy S10</strong></p>
            </article>
             <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                <p>$23.200 <br>
                5% off <br>
                <strong>SmartTv Samsung 43"</strong></p>
            </article>
        </section>
    </main>
    <!--pie de pagina-body-->
     <footer>
        <section>
             <article>
                <h4><strong>Paga con tarjeta o en efectivo</strong></h4>
                 <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
        </section>
         <section>
             <article>
                <h4><strong>Envio gratis desde los $2500</strong></h4>
                 <p>Solo por estar registrad@ en Mercado Liebre 
                    tenés envíos gratis en miles de productos. 
                    Es un beneficio de Mercado Puntos.</p>
            </article>
        </section>
         <section>
            <article>
                <h4><strong>Seguridad, de principio a fin</strong></h4>
                 <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, 
                    no hay nada que no puedas hacer,
                    porque estás siempre protegid@</p>
        </article>
        </section>
         <section>
            <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
        </section>
    </footer>
</body>
<!--cierre-body-->
</html>
<!--cierr
