/* Footer */

.home footer {
    background-color: white;
    padding-top: 5px;
}

.home footer section {
    text-align: center;
}

.home footer section h2 {
    font-size: 12px;
    text-align: center;
    margin: 9px;
}

.home footer section h2.noMostrar {
    display: none;
}

.home footer section article {
    margin: 13% 29px;
}

.home footer section article i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--celeste);
}

.home footer section article h3 {}

.home footer section article p {
    text-align: center;
    font-size: var(--cuerposDeTexto);
}
@media(min-width: 361px) {
    /* Footer */

.home footer {
}

.home footer section {
   
}

.home footer section h2 {
 
}

.home footer section h2.noMostrar {
   
}

.home footer section article {
  
}

.home footer section article i {
    
}

}


/* media query Desktop */
@media(min-width:769px) {
/* Footer */

.home footer {
}

.home footer section {
   
}

.home footer section h2 {
 
}

.home footer section h2.noMostrar {
   
}

.home footer section article {
  
}

.home footer section article i {
    
}

}