:root {
    /* Paleta de colores*/
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;

    /* tipografías */
    --font-Roboto: 'Roboto', sans-serif;

    /* Tamaños Tipográficos */
    --cuerposDeTexto: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;
}

/* General */

* {
    font-family: var(--font-Roboto);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

.home {
    background-color: var(--grisClaro);
}

/* Header */

.home header {
    display: flex;
    background-color: var(--amarillo);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.home header .logo {
    width: 50%;
    padding: 2% 3% 0% 5%;
}
.home header .logo img{
    margin-top: 10%;
}

.home header .caja {
    display: flex;
    width: 50%;
    7px;
    margin-top: 5%;
}

.home header .caja form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 42px;
}

.home header .caja form input {
    display: flex;
    border: none;
    width: 89%;
    height: 100%;
    border-radius: 7px;
}

.home header .caja form i {
    background: white;
    padding: 1%;
    border-radius: 18%;
    position: absolute;
    right: 7%;
}

.home header .market {
    width: 100%;
    margin: 5% 0% 4% 0%;
    font-size: 13px;
}

.home header .market p {}

.home header .market p i {
    margin: 0% 0% 0% 12%;
}

.home header nav {
    display: none;
    padding-top: 10px;
    padding-bottom: 15px;
}

.home header nav ul {}

.home header nav ul li {}

.home header nav ul li a {
    text-decoration: none;
    color: black;
}

.home header .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 5%;
}

.home header .burger-menu .fa-bars {
    background-color: var(--celeste);
    color: var(--grisClaro);
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    margin: 8%;
}



.home header .banner{
}
.home header .banner img{display: flex;width: 100%;}


/* main */

.home main {
    width: 90vw;
    margin: 0 auto;
}

.home main section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.home main h2{
    font-size: var(--titulares);
    text-align: left;
    margin: 4% 3% 4% 0%;
}

.home main section h2.noMostrar{
   display:none;
}

.home main section article {}

.home main section article img {
    width: 100%;
}

/* Caja div de la info del articulo */

.home main section article .caja {
    border-top: 1px solid var(--grisClaro);
    background-color: snow;
}

.home main section article .caja div {
    border: 2px solid var(--verde);
    width: 30px;
    height: 30px;
    border-radius: 35px;
    background-color: snow;
    position: relative;
    top: -17px;
    left: 88%;
}

.home main section article .caja div i {
    color: var(--verde);
    font-size: 14px;
    padding: 6px 5px;
}



.home main section article .caja span{}


.home main section article .caja .precio {
    display: inline-block;
    width: 30%;
    padding: 0% 0% 3% 5%;
    font-size: var(--precios);
    /* color: ; */
}

.home main section article .caja .descuento {
    display: inline-block;
    font-size: var(--descuentos);
    font-weight: 400;
    color: var(--verde);
}

.home main section article .caja .descripciones {

    display: block;
    font-size: var(--descripciones);
    font-weight: bold;
    display: none;
}

/* Footer */

.home footer {}

.home footer section {
    text-align: center;
}

.home footer section h2 {
    font-size: 12px;
    text-align: center;
    margin: 9px;
}

.home footer section h2.noMostrar {
    display: none;
}

.home footer section article {
    margin: 13% 29px;
}

.home footer section article i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--celeste);
}

.home footer section article h3 {}

.home footer section article p {
    text-align: center;
    font-size: var(--cuerposDeTexto);
}

/* register */

/* login */

/* media query Tablet */
@media(min-width: 361px) {
    .home header nav {
        display: block;
    }

    .home header .burger-menu .fa-bars {
        display: none;
    }

    .home main section article {
                 10px rgba(100, 100, 100, 1);
                 place-self: flex-start;
                 width: 45%;
    }

    .home main section article .caja .descripciones {
        display: block;
        padding: 2% 5% 3%;
    }
    .home main section{
}
}

/* media query Desktop */
@media(min-width:769px) {
    .home header .caja{
    }
    .home header .market p {
        text-align: center;
    }
}